{% extends 'website_base/base_1.html' %}
{% load energy_type_tags %}
{% block title %}Главная{% endblock %}


{% block content %}
    {% get_years as years %}
    <h1 style="text-align: center">Выберите год для просмотра статистических данных</h1>
    <ul class="list-group">
        {% for year in years %}
            <li class="list-group-item" style="text-align: center">
                <a class="dropdown-item" href="{% url 'dashboard_view' year.pk %}">
                {{ year.name }}
                </a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}