{% extends 'website_base/base_1.html' %}

{% block title %}Главная{% endblock %}

{#{% block sidebar%}#}
{#    {% include 'inc/sidebar.html' %}#}
{#{% endblock %}#}

{% block content %}
    <h1>Главная страница</h1>

{#     {% if adress %}#}
{#         <table class="table">#}
{#             <thead>#}
{#             <tr>#}
{#                 <th scope="col">#</th>#}
{#                 <th scope="col">Адрес</th>#}
{#                 <th scope="col">Факт</th>#}
{#                 <th scope="col">План</th>#}
{#                 <th scope="col">Отклонение</th>#}
{#                 <th scope="col">Отклонение, %</th>#}
{#                 <th scope="col">Дата добавления</th>#}
{#             </tr>#}
{#             </thead>#}
{#             <tbody>#}
{#             {% for i in adress %}#}
{#                 <tr>#}
{#                     <th scope="row">{{ forloop.counter }}</th>#}
{#                     <td>{{ i.adress }}</td>#}
{#                     <td>{{ i.fact }}</td>#}
{#                     <td>{{ i.limit }}</td>#}
{#                     <td>{{ i.otklonenie }}</td>#}
{#                     <td>{{ i.otklonenie_percent }}</td>#}
{#                     <td>{{ i.created_at }}</td>#}
{#                 </tr>#}
{#             {% endfor %}#}
{#             {% else %}#}
{#                 <p>There are no adress data.</p>#}
{#             {% endif %}#}
{##}
{#             </tbody>#}
{#         </table>#}

{% endblock %}