{% extends 'website_base/base_1.html' %}

{% block title %}Главная{% endblock %}

{#{% block sidebar%}#}
{#    {% include 'inc/sidebar.html' %}#}
{#{% endblock %}#}

{% block content %}
    <div class="container" style="width: 1200px; margin-top: 250px;">
        <div class="table-responsive">
            <div class="div-table">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center" colspan="2"></th>
                        <th style="text-align: center" colspan="5">
                            <strong>Январь</strong>
                        </th>
                        <th style="text-align: center" colspan="5">
                            <strong>Февраль</strong>
                        </th>
                        <th style="text-align: center" colspan="5">
                            <strong>Март</strong>
                        </th>
                        <th style="text-align: center" colspan="5">
                            <strong>Апрель</strong>
                        </th>
                        <th style="text-align: center" colspan="5">
                            <strong>Май</strong>
                        </th>
                        <th style="text-align: center" colspan="5">
                            <strong>Июнь</strong>
                        </th>
                        <th style="text-align: center" colspan="5">
                            <strong>Июль</strong>
                        </th>
                        <th style="text-align: center" colspan="5">
                            <strong>Август</strong>
                        </th>
                        <th style="text-align: center" colspan="5">
                            <strong>Сентябрь</strong>
                        </th>
                        <th style="text-align: center" colspan="5">
                            <strong>Октябрь</strong>
                        </th>
                        <th style="text-align: center" colspan="5">
                            <strong>Ноябрь</strong>
                        </th>
                        <th style="text-align: center" colspan="5">
                            <strong>Декабрь</strong>
                        </th>
                        </th>
                    </tr>

                    <tr>
                        <th style="text-align: center"><strong>№ п/п</strong></th>
                        <th style="text-align: center">
                            <strong>наименование учреждения/ адрес&nbsp; &nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>фактическое потребление&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>утановленный лимит&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>отклонение (лимит-факт)&nbsp;</strong>
                        </th>
                        <th style="text-align: center"><strong>отклонение %</strong></th>
                        <th style="text-align: center">
                            <strong>Сумма, выставленная по счетам, тыс.руб. (с НДС)</strong>
                        </th>

                        <th style="text-align: center">
                            <strong>фактическое потребление&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>утановленный лимит&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>отклонение (лимит-факт)&nbsp;</strong>
                        </th>
                        <th style="text-align: center"><strong>отклонение %</strong></th>
                        <th style="text-align: center">
                            <strong>Сумма, выставленная по счетам, тыс.руб. (с НДС)</strong>
                        </th>

                        <th style="text-align: center">
                            <strong>фактическое потребление&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>утановленный лимит&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>отклонение (лимит-факт)&nbsp;</strong>
                        </th>
                        <th style="text-align: center"><strong>отклонение %</strong></th>
                        <th style="text-align: center">
                            <strong>Сумма, выставленная по счетам, тыс.руб. (с НДС)</strong>
                        </th>

                        <th style="text-align: center">
                            <strong>фактическое потребление&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>утановленный лимит&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>отклонение (лимит-факт)&nbsp;</strong>
                        </th>
                        <th style="text-align: center"><strong>отклонение %</strong></th>
                        <th style="text-align: center">
                            <strong>Сумма, выставленная по счетам, тыс.руб. (с НДС)</strong>
                        </th>

                        <th style="text-align: center">
                            <strong>фактическое потребление&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>утановленный лимит&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>отклонение (лимит-факт)&nbsp;</strong>
                        </th>
                        <th style="text-align: center"><strong>отклонение %</strong></th>
                        <th style="text-align: center">
                            <strong>Сумма, выставленная по счетам, тыс.руб. (с НДС)</strong>
                        </th>

                        <th style="text-align: center">
                            <strong>фактическое потребление&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>утановленный лимит&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>отклонение (лимит-факт)&nbsp;</strong>
                        </th>
                        <th style="text-align: center"><strong>отклонение %</strong></th>
                        <th style="text-align: center">
                            <strong>Сумма, выставленная по счетам, тыс.руб. (с НДС)</strong>
                        </th>

                        <th style="text-align: center">
                            <strong>фактическое потребление&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>утановленный лимит&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>отклонение (лимит-факт)&nbsp;</strong>
                        </th>
                        <th style="text-align: center"><strong>отклонение %</strong></th>
                        <th style="text-align: center">
                            <strong>Сумма, выставленная по счетам, тыс.руб. (с НДС)</strong>
                        </th>

                        <th style="text-align: center">
                            <strong>фактическое потребление&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>утановленный лимит&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>отклонение (лимит-факт)&nbsp;</strong>
                        </th>
                        <th style="text-align: center"><strong>отклонение %</strong></th>
                        <th style="text-align: center">
                            <strong>Сумма, выставленная по счетам, тыс.руб. (с НДС)</strong>
                        </th>

                        <th style="text-align: center">
                            <strong>фактическое потребление&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>утановленный лимит&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>отклонение (лимит-факт)&nbsp;</strong>
                        </th>
                        <th style="text-align: center"><strong>отклонение %</strong></th>
                        <th style="text-align: center">
                            <strong>Сумма, выставленная по счетам, тыс.руб. (с НДС)</strong>
                        </th>

                        <th style="text-align: center">
                            <strong>фактическое потребление&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>утановленный лимит&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>отклонение (лимит-факт)&nbsp;</strong>
                        </th>
                        <th style="text-align: center"><strong>отклонение %</strong></th>
                        <th style="text-align: center">
                            <strong>Сумма, выставленная по счетам, тыс.руб. (с НДС)</strong>
                        </th>

                        <th style="text-align: center">
                            <strong>фактическое потребление&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>утановленный лимит&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>отклонение (лимит-факт)&nbsp;</strong>
                        </th>
                        <th style="text-align: center"><strong>отклонение %</strong></th>
                        <th style="text-align: center">
                            <strong>Сумма, выставленная по счетам, тыс.руб. (с НДС)</strong>
                        </th>

                        <th style="text-align: center">
                            <strong>фактическое потребление&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>утановленный лимит&nbsp;</strong>
                        </th>
                        <th style="text-align: center">
                            <strong>отклонение (лимит-факт)&nbsp;</strong>
                        </th>
                        <th style="text-align: center"><strong>отклонение %</strong></th>
                        <th style="text-align: center">
                            <strong>Сумма, выставленная по счетам, тыс.руб. (с НДС)</strong>
                        </th>
                    </tr>

                    </thead>

                    <tbody>
                    {% for i, j  in super_list %}
                        <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        {% if i.address_of_the_municipal_organization.group is Not and i.titleOfTheAddressGroup is Not %}
                            <td>{{ i.address_of_the_municipal_organization.address.titleOfTheAddress }}</td>
                            <td>{{ i.fact }}</td>
                            <td>{{ i.limit }}</td>
                            <td>{{ i.otklonenie }}</td>
                            <td>{{ i.otklonenie_percent }}</td>
                            <td>{{ i.sum }}</td>
                            {% if j.count  %}
                            <td>{{ j.fact }}</td>
                            <td>{{ j.limit }}</td>
                            <td>{{ j.otklonenie }}</td>
                            <td>{{ j.otklonenie_percent }}</td>
                            <td>{{ j.sum }}</td>
                            {% endif %}
                        {% elif i.titleOfTheAddressGroup %}
                            <td><strong>{{ i.titleOfTheAddressGroup }}</strong></td>
                            <td><strong>{{ i.fact }}</strong></td>
                            <td><strong>{{ i.limit }}</strong></td>
                            <td><strong>{{ i.otklonenie }}</strong></td>
                            <td><strong>{{ i.otklonenie_percent }}</strong></td>
                            <td><strong>{{ i.sum }}</strong></td>
                            {% if j.count != 0 %}
                            <td><strong>{{ j.fact }}</strong></td>
                            <td><strong>{{ j.limit }}</strong></td>
                            <td><strong>{{ j.otklonenie }}</strong></td>
                            <td><strong>{{ j.otklonenie_percent }}</strong></td>
                            <td><strong>{{ j.sum }}</strong></td>
                            {% endif %}
                        {% else %}
                            <td>{{ i.address_of_the_municipal_organization.address.titleOfTheAddress }}</td>
                            <td>{{ i.fact }}</td>
                            <td>{{ i.limit }}</td>
                            <td>{{ i.otklonenie }}</td>
                            <td>{{ i.otklonenie_percent }}</td>
                            <td>{{ i.sum }}</td>
                            {% if j.count != 0 %}
                            <td>{{ j.fact }}</td>
                            <td>{{ j.limit }}</td>
                            <td>{{ j.otklonenie }}</td>
                            <td>{{ j.otklonenie_percent }}</td>
                            <td>{{ j.sum }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}