{% extends 'website_base/base_1.html' %}

{% block title %}Главная{% endblock %}

{#{% block sidebar%}#}
{#    {% include 'inc/sidebar.html' %}#}
{#{% endblock %}#}

{% block content %}
    <style>
        thead tr > th {
            background: #ccc;
            position: sticky;
            padding: .5rem;
            z-index: 2;
            top: 0;
        }

        thead tr > :first-child {
            z-index: 3;
            left: 0;
            top: 0;
        }

        td {
            text-align: center;
        }

        tbody tr > :first-child {
            background: #ddd;
            position: sticky;
            z-index: 1;
            left: 0;
        }
    </style>

    <h3>Категория: {{ category.title }} | Год: {{ year.name }} | Месяц: {{ month.name }}</h3>

    <br>
         <table class="table table-bordered">
             <thead>
             <tr>
                 <th scope="col">#</th>
                 <th scope="col">Адрес</th>
                 <th scope="col">Факт</th>
                 <th scope="col">План</th>
                 <th scope="col">Отклонение</th>
                 <th scope="col">Отклонение, %</th>
                 <th scope="col">Сумма, выставленная по счетам, тыс.руб. (с НДС)</th>
             </tr>
             </thead>
             <tbody>
         {% for i in list_group_data %}
             <tr>
            <th scope="row">{{ forloop.counter }}</th>
            {% if i.address_of_the_municipal_organization.group is Not and i.titleOfTheAddressGroup is Not %}
                <td>{{ i.address_of_the_municipal_organization.address.titleOfTheAddress }}</td>
                <td>{{ i.fact }}</td>
                <td>{{ i.limit }}</td>
                <td>{{ i.otklonenie }}</td>
                <td>{{ i.otklonenie_percent }}</td>
                <td>{{ i.sum }}</td>
            {% elif i.titleOfTheAddressGroup %}
                <td><strong>{{ i.titleOfTheAddressGroup }}</strong></td>
                <td><strong>{{ i.fact }}</strong></td>
                <td><strong>{{ i.limit }}</strong></td>
                <td><strong>{{ i.otklonenie }}</strong></td>
                <td><strong>{{ i.otklonenie_percent }}</strong></td>
                <td><strong>{{ i.sum }}</strong></td>
            {% else %}
                <td>{{ i.address_of_the_municipal_organization.address.titleOfTheAddress }}</td>
                <td>{{ i.fact }}</td>
                <td>{{ i.limit }}</td>
                <td>{{ i.otklonenie }}</td>
                <td>{{ i.otklonenie_percent }}</td>
                <td>{{ i.sum }}</td>
            {% endif %}
         {% endfor %}
             </tr>
             </tbody>
         </table>

{% endblock %}