{% extends 'website_base/base_1.html' %}

{% block title %}Главная{% endblock %}

{#{% block sidebar%}#}
{#    {% include 'inc/sidebar.html' %}#}
{#{% endblock %}#}

{% block content %}
    <h1>Просмотр данных: {{ category.title }}</h1>
    <br>
    <br>

     {% if adress %}
         <table class="table">
             <thead>
             <tr>
                 <th scope="col">#</th>
                 <th scope="col">Адрес</th>
                 <th scope="col">Факт</th>
                 <th scope="col">План</th>
                 <th scope="col">Отклонение</th>
                 <th scope="col">Отклонение, %</th>
                 <th scope="col">Сумма, выставленная по счетам, тыс.руб. (с НДС)</th>
             </tr>
             </thead>
             <tbody>
         {% for list in list %}
             <tr>
                 <th scope="row">{{ forloop.counter }}</th>
                 {% if list in main_adress %}
                     {% if list in main_adress %}
                         <td><strong>{{ list.name }}</strong></td>
                     {% else %}
                         <td><strong>{{ list.adress }}</strong></td>
                     {% endif %}
                     <td><strong>{{ list.fact }}</strong></td>
                     <td><strong>{{ list.limit }}</strong></td>
                     <td><strong>{{ list.otklonenie }}</strong></td>
                     <td><strong>{{ list.otklonenie_percent }}</strong></td>
                     <td><strong>{{ list.sum }}</strong></td>
                 {% else %}
                     {% if list in main_adress %}
                         <td>{{ list.name }}</td>
                     {% else %}
                         <td>{{ list.adress }}</td>
                     {% endif %}
                 <td>{{ list.fact }}</td>
                 <td>{{ list.limit }}</td>
                 <td>{{ list.otklonenie }}</td>
                 <td>{{ list.otklonenie_percent }}</td>
                 <td>{{ list.sum }}</td>
                 {% endif %}
             </tr>
         {% endfor %}
{#             {% for i in adress %}#}
{##}
{#                 <tr>#}
{#                     <th scope="row">{{ forloop.counter }}</th>#}
{#                     <td>{{ i.adress }}</td>#}
{#                     <td>{{ i.fact }}</td>#}
{#                     <td>{{ i.limit }}</td>#}
{#                     <td>{{ i.otklonenie }}</td>#}
{#                     <td>{{ i.otklonenie_percent }}</td>#}
{#                     <td>{{ i.created_at }}</td>#}
{#                 </tr>#}
{#             {% endfor %}#}
             {% else %}
                 <p>There are no adress data.</p>
             {% endif %}

             </tbody>
         </table>

{% endblock %}