{% load energy_type_tags %}

<style>
    .navbar-nav li:hover > ul.dropdown-menu {
        display: block;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
    }

    /* rotate caret on hover */
    .dropdown-menu > li > a:hover:after {
        text-decoration: underline;
        transform: rotate(-90deg);
    }
</style>

<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #112e51">
    {% if request.user.is_authenticated %}
        <a class="navbar-brand pb-2" href="{% url 'index' %}">Управление ЖКХ</a>
    {% else %}
        <a class="navbar-brand pb-2" href="#">Управление ЖКХ</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Просмотр данных
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% get_categories as categories %}
                            {% get_years as years %}
                            {% get_months as month %}

                            {% for item in categories %}
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                                                href="#">{{ item.title }}</a>
                                    <ul class="dropdown-menu">
                                        {% for item2 in years %}
                                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                                                            href="#">{{ item2.name }}</a>
                                                <ul class="dropdown-menu">
                                                    {% for item3 in month %}
                                                        <li><a class="dropdown-item"
                                                               href="{% url 'category_view_admin' item.pk item2.pk item3.pk %}">{{ item3.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Просмотр данных (кварталы)
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% get_categories as categories %}
                            {% get_years as years %}
                            {% get_quarters as quarters %}

                            {% for item in categories %}
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                                                href="#">{{ item.title }}</a>
                                    <ul class="dropdown-menu">
                                        {% for item2 in years %}
                                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                                                            href="#">{{ item2.name }}</a>
                                                <ul class="dropdown-menu">
                                                    {% for item3 in quarters %}
                                                        <li><a class="dropdown-item"
                                                               href="{% url 'category_view_quarter' item.pk item2.pk item3.pk %}">{{ item3.name }} квартал</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Просмотр данных
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% get_categories as categories %}
                            {% get_years as years %}
                            {% get_months as month %}

                            {% for item in categories %}
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                                                href="#">{{ item.title }}</a>
                                    <ul class="dropdown-menu">
                                        {% for item2 in years %}
                                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                                                            href="#">{{ item2.name }}</a>
                                                <ul class="dropdown-menu">
                                                    {% for item3 in month %}
                                                        <li><a class="dropdown-item"
                                                               href="{% url 'category_view' item.pk item2.pk item3.pk %}">{{ item3.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}

                {% if request.user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Формирование отчетов
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for item in categories %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'category_add' item.pk %}">test </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Добавить энергоресурс
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for item in categories %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'category_add' item.pk %}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endif %}

        </ul>
    </div>
    <span class="navbar-text">
            {% if request.user.is_authenticated %}
                Муниципальная организация: ({{ user.first_name }}) | <a href="{% url 'logout' %}">Выход</a>
            {% else %}
                <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Вход</a>
            {% endif %}

        </span>
</nav>
